     <div id="about" class="page section">
            <h2>Hi, My Name is Kirk McCutcheon</h2>
            
            <p>I am a creator of the web and responsible for polluting the interweb pipes with my content.  I am also a Rails developer stuck in a php world.  My passions lies in new and emerging developmet trends and I am always looking to find a better way of doing things.  It has taken me a long time to get to this point in my life, but the ride was worth it.  I live to make the web a better place for everyone and hopefully make a little money doing what I enjoy.<p>
            <p></p>
          </section>

          <section class="column-3">         
            <div class="box">
              <h4>What I can Do</h4>
              <ul>
              <li>Web Design</li>
              <li>Web development
                <ul>
                  <li>HTML/CSS</li>
                  <li>Javascript/jQuery</li>
                  <li>jQuery Mobile</li>
                  <li>Rails</li>
                  <li>PHP</li>
                </ul>
              </li>
              
              <li>Network Administration
                <ul>
                  <li>Apache</li>
                  <li>nginx</li>
                  <li>CentOS</li>
                  <li>Ubuntu</li>
                </ul>
              </li>
              </ul>
            </div>
          </section>

          <section class="column-3">
          <div class="box">
            <h4>Tools I use</h4>
                <ul>
                  <li>Mac</li>
                  <li>Sublime Text 2</li>
                  <li>Terminal - zsh</li>
                  <li>Photoshop</li>
                  <li>Eclipse/PDT</li>
                  <li>rvm</li>
                  <li>GitHub</li>
                </ul>
              </ul>
          </div>
          </section>
          
          <section class="column-3"> 
            <div class="box">        
              <h4>My Interests</h4>
                <ul>
                  <li>All things electronic</li>
                  <li>Working on cars</li>
                  <li>Buliding things with my hands</li>
                  <li>Always learning something new</li>
                </ul>
           </div>
          </section>
      </div>