     <div id="about" class="page section">
            <h2>Hi, My Name is Kirk McCutcheon</h2>
            
            <p>I am a creator of the <strong>WEB</strong>.  I am also an avid <strong>Ruby on Rails developer</strong> stuck in a <strong>PHP</strong> world.  My passions lies in new and emerging developmet trends and I am always looking to find a better way of doing things.  Working as a developer has exposed me to just about every programming language out there.  In the past I have had the opportunity wo work with <strong>C#</strong>, <strong>Objective-C</strong>, <strong>Coldfusion</strong>, <strong>Python</strong>, <strong>Ruby</strong>, <strong>PHP</strong> and even <strong>Postscript</strong>.  I am as comfortable working in a terminal as I am in a GUI and perfer zsh to bash.</p>  

            <p>It has been a journey to get to this point in my life, but the ride was worth it.  I live to make the web a better place for everyone and hopefully make a little money doing what I enjoy.<p>
          </section>

          <section class="column-3">         
            <div class="box">
              <h4>What I can Do</h4>
              <ul>
              <li>Web Design</li>
              <li>Web development
                <ul>
                  <li>HTML5/CSS3</li>
                  <li>Javascript/jQuery</li>
                  <li>jQuery Mobile</li>
                  <li>Backbone</li>
                  <li>Ruby on Rails</li>
                  <li>PHP</li>
                </ul>
              </li>
              
              <li>Server Administration
                <ul>
                  <li>Apache</li>
                  <li>nginx</li>
                  <li>Unicorn</li>
                  <li>Passanger</li>
                  <li>CentOS</li>
                  <li>Ubuntu</li>
                </ul>
              </li>
              </ul>
            </div>
          </section>

          <section class="column-3">
          <div class="box">
            <h4>Tools I use</h4>
                <ul>
                  <li>Mac OSX</li>
                  <li>Xcode</li>
                  <li>Sublime Text 2</li>
                  <li>Terminal - zsh</li>
                  <li>Photoshop</li>
                  <li>Eclipse/PDT</li>
                  <li>rvm/rbenv</li>
                  <li>Capistrano</li>
                  <li>GitHub</li>
                  <li>Chrome</li>
                </ul>
              </ul>
          </div>
          </section>
          
          <section class="column-3"> 
            <div class="box">        
              <h4>My Interests</h4>
                <ul>
                  <li>All things electronic</li>
                  <li>Working on cars</li>
                  <li>Buliding things with my hands</li>
                  <li>Always learning something new</li>
                </ul>
           </div>
          </section>
      </div>