    <div id="resume" class="page res section">
        <div class="print"><a href="Kirk_McCutcheon_Resume.pdf" target="_new"><%= image_tag "print.png", :alt=> "Print the PDF" %></a></div>
        <section class="res-1">
            <h3>Overview of Qualifications</h3>
            <ul class="resume">
              <li>Accomplished and Goal-Orientated </li>
              <li>Excellent Troubleshooting and Technical Support Abilities</li>
              <li>Experienced in LAMP Server administration</li>
              <li>Productivity Improvement</li>
              <li>Infrastructure Design and Implementation</li>
              <li>Disaster Recovery Implementation and Testing</li>
              <li>Experienced frontend/backend web developer</li>
            </ul>
            <h3>Certifications</h3>
            <ul class="resume">
              <li>CompTIA A+</li>
              <li>MCP (Windows Server 2003) ID# 6389158</li>
              <li>Xerox FreeFlow VI Designer</li>
              <li>Hyper-V (SkillSoft certification)</li>
            </ul>
            <h3>Technology</h3>
            <br />
            <div class="column width4 three-col">
            <h4>Networking/Hardware</h4>
              <ul>
                <li>Active Directory</li>
                <li>Avaya</li>
                <li>VoIP</li>
                <li>Ethernet, DSL</li>
              </ul>
              <ul>
                <li>Belkin Switch Unit</li>
                <li>UltraVNC</li>
                <li>DHCP</li>
                <li>TCP/IP</li>
              </ul>
              <ul>
                <li>HP Proliant Servers</li>
                <li>Cisco Routers</li>
                <li>NetApp Storage</li>
                <li>Dell PowerVault SAN</li>
              </ul>
            </div>
            <h4>Operating Systems</h4>
            <ul class="resume">
              <li>Windows XP-Pro - Vista - Windows 7</li>
              <li>Windows Server 2000/2003/2008 Enterprise</li>
              <li>Mac OS X, OS X Server</li>
              <li>Linux (Red Hat, Ubuntu, CentOS, Fedora)</li>
              <li>Unix (HP/UX, Solaris 8,9,10) </li>
            </ul>
            <h4>Software</h4>
            <div class="three-col">
              <ul>
                <li>PuTTY Telnet/SSH Client/Terminal</li>
                <li>MS Office 2010/2011</li>
                <li>Cyberduck</li>
                <li>Sublime Text 2</li>
              </ul>
              <ul>                  
                <li>Textmate</li>
                <li>Adobe CS5</li>
                <li>VMware</li>
                <li>Hyper-V</li>
                <li>Coda</li>
              </ul>
              <ul>                  
                <li>SmartSVN</li>
                <li>Xcode</li>
                <li>MAMP</li>
                <li>Sequel Pro</li>
                <li>Netbeans</li>
              </ul>
            </div>
            <h4>Web Technology</h4>
            <div class="three-col">
              <ul>
                <li>Apache Web Servers</li>
                <li>nginx</li>
                <li>IIS</li>
                <li>SQL Server</li>
                <li>MySQL</li>
                <li>mongodb</li>
              </ul>
              <ul>
                <li>HTML/XHTML/HTML5</li>                   
                <li>CSS2/CSS3</li>
                <li>jQuery/javascript</li>
                <li>ASP.net/C#</li>
                <li>PHP 5</li>
                <li>Ruby/Rails/Sinatra</li>
                <li>Padrino</li>
              </ul>
              <ul>  
                <li>modX</li>
                <li>Wordpress</li>
                <li>Joomla!</li>
                <li>Magento</li>                  
                <li>cPanel</li>
                <li>DirectAdmin</li>
                <li>Webmin</li>
              </ul>
            </div>
            <div class="clear"></div>
            <h3>Employment History</h3>
            <h4>inServ Worldwide  </h4>
            <h6>Senior Interactive Developer<span>January 2011 ~ Present</span></h6>
              <p>During my time at inServ I have had to wear many hats and I enjoy it every day.  We started off as a small digital team of 4 a year ago and now there are over 20 digital focused individuals on the team.  Over the past year I have had the privilege to develop numerous websites, web based mobile application, iPad sales detailing content, Email marketing campaigns, CMS based intranet sites, and many custom database backed micro sites. Some of the clients I have worked with include Eli Lilly, Endo Pharmaceuticals, i3, Ignite, Palio, Inventiv Health, Harvest Tech, Avanir Pharmaceuticals,and Amylin Pharmaceuticals to name a few.</p>
              <ul class="resume">
              <li>Develop Web sites using HTML5/CSS3 and jQuery/javascript</li>
              <li>Develop web based mobile applications using jQuery Mobile</li>
              <li>Setup and implement digital standards and procedures for web based development</li>
              <li>Mentor junior level developers and freelancers</li>
              <li>Manage SVN repositories for inServ digital work using Track/SVN and Assembla</li>
              <li>Setup LAMP based web hosting environments for clients</li>
              <li>Interview potential developer resources and make recommendations for staffing</li>
              </ul>
              
            <h4>Affiliated Computer Services  </h4>
            <h6>Print Operations Lead Technician/IT Support<span>October 2007 ~ December 2010</span></h6>
              <ul class="resume">
              <li>Perform hardware, software and network upgrades and installation for the Ohio Child Support Payment Center.</li>
              <li>Responsible for implementing and maintaining system security and configurations of 6 company servers while providing IT support, to include planning, software and hardware configuration to a staff of 50 end-users.</li>
              <li>Manage the completion of daily physical disbursements to Child Support recipients.</li>
              <li>Develop and maintain vendor relationships.</li> 
              <li>Responsible for new site/contract implementation to include setting up a new check printing facility and network of servers.</li>
              <li>Maintain up to date procedural documents for all print systems/servers and print applications</li>
              <li>Responsible for document design and postscript coding for child support letters and checks.</li>
              </ul>
              
              <h4>Apple Retail
              <h6>Mac Specialist <span>September 2007 ~ November 2007</span></h4></h6>
                <ul class="resume">
                  <li>Seasonal part time work selling Apple computers.</li>
                  <li>Conduct training sessions for customers new to the OS X platform and family of software.</li>
                  <li>Study all things Apple through the Apple training portal to become an expert in all Apple product lines.</li>
                </ul>
                
                <h4>Freelance Web Developer/Server Administrator </h4>
                <h6>Freelancer   <span>December 2006 ~ Present</span></h6> 
                  <ul class="resume">
                    <li>Design Websites from concept to coding using photoshop and a text editor.</li>
                    <li>Manage and setup web hosting servers using LAMP and cPanel.</li>
                    <li>Integrate designs into PHP base CMS's like Wordpress, WHMCS, ClientExec, Magento, Joomla, Zencart, Open Cart, Open-Realty and Elgg.</li>
                    <li>Manage and support a load balanced LAN/WAN and server rollout for a national retailer of yarn and knitting supplies.</li>
                    <li>Participate in open source project communities to better the software.</li>
                    <li>Maintain client relationships and provide timely and accurate support.</li>
                  </ul>
                  
                <h4>Golden Gate Real Estate          </h4>
                <h6>Realtor <span>October 2005 ~ February 2008</span></h6>
                <ul class="resume">
                <li>Manage real estate transactions for buyers and sellers of residential and commercial properties. Inform clients of their options and rights in the transaction. Advertise to generate leads and market current listings through print and digital media. Create and maintain website. Manage database of clients and prospects.</li>
                </ul>
                
                <h4>Pop's Ice Cream             </h4>
                <h6>Owner<span>July 2002 ~ July 2006</span></h6>
                <ul class="resume">
                <li>Manage all aspects of the business from start-up to product development. Interview, hire and manage employees. Positively promote company through networking and creation of marketing materials. Manage and order inventory.</li>
                </ul>
                
                <h4>The Roof Doctors Inc.            </h4>
                <h6>Assistant Vice President <span>May 1999 ~ October 2005</span></h6>
                <ul class="resume">
                <li>Assist in the day-to-day tasks of roofing and roofing sales. Perform estimates and repairs on roofs and siding. Represent the company with the best possible image. Create and maintain company website and customer database. Manage some print and all digital media for advertising and direct mailing.</li>
                </ul>

      </section>
      </div>