     <div id="work" class="page section">
        <aside>
					<ul class="showcaseNav">
						 <li class="active"><a class="more_button" href="#websites">Websites</a></li>
						 <li><a class="more_button" href="#animation">CSS Animation</a></li>
						 <li><a class="more_button" href="#magento">Magento Templates</a></li>
						 <li><a class="more_button" target="_blank" href="http://hostrea.com/premium-templates.html">More Samples</a></li>
					</ul>
						
				</aside>
				<div class="clearfix"></div>
				<!-- websites -->
				
      </div>