	<article class="fullPost">
		<h1><%= @post.title %></h1>
		<% if @post.image? %>
			<img src="<%= image_path @post.image %>" alt="<%= @post.title %>"> 
		<% end %>
		<%= raw @post.content %>
	</article>
